<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>CPU性能参数</title>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>
</head>

<body>
<!--为ECharts准备一个具备大小（宽高）的Dom-->
<div id="main" style="height:500px;border:1px solid #ccc;padding:10px;"></div>
<script type="text/javascript">
    //--- 折柱 ---
    var myChart = echarts.init(document.getElementById('main'));
    option = {
        title: {
            text: '服务器CPU性能参数'
        },
        tooltip: {},
        legend: {
            data: ['用户CPU', '系统CPU', 'IO-CPU','告警阈值']
        },
        toolbox: {
            show: true,
            feature: {
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        xAxis: {
            splitNumber: 50,
            axisLabel: {
                interval: 0
            },
            data: ['20170827000000', '20170827000001', '20170827000002']
        },
        yAxis: {
            max: 100
        },
        series: [{
            name: '用户cpu',
            type: 'line',
            data: ['1', '2', '3']
        }, {
            name: '系统cpu',
            type: 'line',
            data: ['1', '2', '3']
        }, {
            name: 'IO-CPU',
            type: 'line',
            data: ['1', '2', '3']
        },]
    };


    timeTicket = setInterval(function () {
        $.ajax({
            type: 'GET',
            url: '/sys_info',
            data: 1000,
            async:false,
            dataType: 'json',
            success: function (json) {
                server_info = eval(json);
            }
        });
        option.xAxis.data = server_info.record_time;
        option.series[0].data = server_info.user_use;
        option.series[1].data = server_info.sys_use;
        option.series[2].data = server_info.io_use;
        myChart.setOption(option, true);
    }, 1000);

    myChart.setOption(option)

</script>
</body>
</html>