<!doctype html>

<html lang="zh">
<head>
    <!--<meta charset="utf-8">-->

    <title>管理员登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <!--<meta name="author" content="SitePoint">-->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css' ) }}">
    <!--<link rel="stylesheet" href="css/styles.css?v=1.0">-->

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript">
        setTimeout(function () {
            window.location.reload()
        }, 6000000);
    </script>
</head>

<body>
<!--<script src="js/scripts.js"></script>-->
<div class="container">
    <div class="login">
        <div class="form_header">管理员 登录:</div>
        <form role="form" action="{{ url_for('login') }}" method="post">
            <input type="text" class="txt" id="uname"  name="uname" placeholder="用户名"/><br>
            <input type="password" class="txt" id="pass" name="pass" placeholder="密码"/><br>
            <input type="checkbox" class="chk" id="remember" value="remember" checked/>
            <label for="remember" class="rem">记住密码</label>
            <button type="submit" class="btn">登录</button>
            {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        </form>
    </div>

</div>
</div>
</body>