<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>服务器详细信息</title>
    <script src="https://unpkg.com/echarts@3.5.3/dist/echarts.js"></script>
    <script src="{{ url_for('static',filename='js/dark.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ns_tb.css') }}">
    <script type="text/javascript">
        setTimeout(function () {
            window.location.reload()
        }, 6000000);
    </script>
</head>
<body bgcolor="#333">
<div class="lan_out" style="height:20px;width:100%; ">
    <a href="{{url_for('main.logout')}}" class="out" style="float: right;color:#ffffff" >退出</a>
</div>
<h2 align="center"><font color="FFFFFF">各个图表都可以使用鼠标拖动和滚轮缩放</font></h2>

<h4 align="center"><font color="FFFFFF">节点基本信息</font></h4>
<table border="2" align="center" class="imagetable" style="width: 60%">
    <tr>
        <th>主机名</th>
        <th>IP地址</th>
        <th>操作系统</th>
        <th>运行时长</th>
        <th>当前时间</th>
    </tr>
    <tr>
        <td>{{server_name}}</td>
        <td>{{ sys_info[0][1] }}</td>
        <td>{{ sys_info[0][2] }}</td>
        <td>{{ sys_info[0][3] }}</td>
        <td>{{ sys_info[0][4][:4] }}/{{sys_info[0][4][4:6]}}/{{sys_info[0][4][6:8]}} {{sys_info[0][4][8:10]}}:{{sys_info[0][4][10:12]}}:{{sys_info[0][4][12:14]}}</td>
    </tr>
</table>

<!-- 磁盘信息 -->
<table align="center">
    <h4 align="center"><font color="FFFFFF">节点磁盘存储信息统计</font></h4>
    <table border="2" align="center" class="imagetable" style="width: 60%">
        <tr>
            <th>序号</th>
            <th>总大小</th>
            <th>已用</th>
            <th>使用率</th>
            <th>挂载点</th>
        </tr>
        {% for disk in disk_info %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ disk[-2] }}</td>
            <td>{{ disk[-3] }}</td>
            <td>{{ disk[-1] }}</td>
            <td>{{ disk[-4] }}</td>
        </tr>
        {% endfor %}
    </table>
</table>
<div>
    <h4 align="center"><font color="FFFFFF">节点CPU使用率</font></h4>
</div>
<script type="text/javascript">
        var cpu_date_arr = new Array();
        {% for cpu_time_item in new_cpu_time %}
        cpu_date_arr.push("{{cpu_time_item}}");
        {% endfor %}
</script>

<!-- 为cpu-ECharts准备一个具备大小（宽高）的Dom -->
<div id="cpu" align="center" style="width: 85%;height:250px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChartCpu = echarts.init(document.getElementById('cpu'), 'dark');
    // 指定图表的配置项和数据
    var option = {

        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                label: {
                    backgroundColor: '#6a7985'
                }
            }
        },
        legend: {
            data:[ 'USER(%)', 'SYSTEM(%)', 'IOWAIT(%)']
        },
        toolbox: {
            show: true,
            feature: {
                dataView: {show: true, readOnly: false},
                magicType: {type: ['line', 'bar']},
                restore: {},
                saveAsImage: {}
            }
        },
        dataZoom: [
            {
                type: 'inside',
                start: 0,
                end: 100,
                startValue: cpu_date_arr
            }
        ],
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [
            {
                type: 'category',
                name: '时间',
                nameLocation: 'end',
                boundaryGap: false,
                nameGap: 10,
                data: cpu_date_arr
            }
        ],
        yAxis: [
            {
                type: 'value',
                axisLabel: {
                    formatter: '{value} %'
                },
                 name: 'CPU使用率(%)'
            }
        ],
        series: [
            {
                name: 'IOWAIT(%)',
                type: 'line',
                data: {{cpu_io}}
            },
            {
                name: 'USER(%)',
                type: 'line',
                data: {{cpu_user}}
            },
            {
                name: 'SYSTEM(%)',
                type: 'line',
                data: {{cpu_system}}
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChartCpu.setOption(option);
</script>

<div>
    <h4 align="center"><font color="FFFFFF">节点内存使用率</font></h4>
</div>
<script type="text/javascript">
        var mem_date_arr = new Array();
        {% for mem_time_item in new_mem_time %}
        mem_date_arr.push("{{mem_time_item}}");
        {% endfor %}
</script>

<!-- 为cpu-ECharts准备一个具备大小（宽高）的Dom -->
<div id="mem" align="center" style="width: 85%;height:250px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChartMem = echarts.init(document.getElementById('mem'), 'dark');
    // 指定图表的配置项和数据
    var option = {

        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                label: {
                    backgroundColor: '#6a7985'
                }
            }
        },
        legend: {
            data:[ '内存(%)']
        },
        toolbox: {
            show: true,
            feature: {
                dataView: {show: true, readOnly: false},
                magicType: {type: ['line', 'bar']},
                restore: {},
                saveAsImage: {}
            }
        },
        dataZoom: [
            {
                type: 'inside',
                start: 0,
                end: 100,
                startValue: cpu_date_arr
            }
        ],
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [
            {
                type: 'category',
                name: '时间',
                nameLocation: 'end',
                boundaryGap: false,
                nameGap: 10,
                data: mem_date_arr
            }
        ],
        yAxis: [
            {
                type: 'value',
                axisLabel: {
                    formatter: '{value} %'
                },
                 name: '内存使用率(%)'
            }
        ],
        series: [
            {
                name: '内存(%)',
                type: 'line',
                data: {{ mem_use }}
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChartMem.setOption(option);
</script>

<br/>
<div class="signature" align="center">Powered by <font color="FFFF11F">LeiMin @ Python / Operation and maintenance department</font>
</div>
</body>
</html>