<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{site_name}} 告警信息列表</title>
    </head>
    <script type="text/javascript">
    setTimeout(function(){window.location.reload()}, 600000);
    </script>
    <style type="text/css">
    #tdFontColor {color: white;}
    a {color: inherit;}
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ns_tb.css') }}">
    <body bgcolor="#333" >
    <div class="lan_out" style="height:20px;width:100%; ">
            <a href="{{url_for('main.logout')}}" class="out" style="float: right;color:#ffffff" >退出</a>
        </div>
        <h2 align="center"><font color="FFFFFF">{{site_name}} 告警信息列表</font></h2>

        <table border="2" align="center" class="imagetable" style="width: 70%">
            <tr>
                <th>序号</th>
                <th>告警节点</th>
                <th>告警对象</th>
                <th>告警级别</th>
                <th>告警场景</th>
                <th>首次告警时间</th>
                <th>最近告警时间</th>
                <th>已发送告警邮件</th>
            </tr>
            {% for ai_node_name,ai_object_name,ai_level,ai_scene_name,ai_time,ai_last_alarm_time,send_mail in site_alarm_info %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{ ai_node_name }}</td>
                {% if ai_level == '4' %}
                <td>紧急</td>
                {% else %}
                <td>重要</td>
                {% endif %}
                <td>{{ alarmDict[ai_object_name] }}</td>
                <td>{{ alarmDict[ai_scene_name] }}</td>
                <td>{{ ai_time }}</td>
                <td>{{ ai_last_alarm_time }}</td>
                {% if send_mail=='0' %}
                <td>否</td>
                {% else %}
                <td>是</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <div class="signature" align="center" >Powered by <font color="FFFF11F">LeiMin @ Python / Operation and maintenance department</font>
        </div>
    </body>
</html>