<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/echarts@3.5.3/dist/echarts.js"></script>
    <script src="{{ url_for('static',filename='js/dark.js') }}"></script>
    <title>{{ site_name }} 报表</title>
</head>
<script type="text/javascript">
    setTimeout(function () {
        window.location.reload()
    }, 600000);
</script>
<style type="text/css">
    #tdFontColor {
        color: white;
    }

    a {
        color: inherit;
    }
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/ns_tb.css') }}">
<body bgcolor="#333">
<div class="lan_out" style="height:20px;width:100%; ">
            <a href="{{url_for('main.logout')}}" class="out" style="float: right;color:#ffffff" >退出</a>
</div>

<div>
    <h4 align="center"><font color="FFFFFF">{{site_name}} 用户开销户数据</font></h4>
</div>
<div id="userinfo" align="center" style="width:85%;height:250px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChartUser = echarts.init(document.getElementById('userinfo'), 'dark');
    // 指定图表的配置项和数据
    var option = {
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'cross',
            crossStyle: {
                color: '#999'
            }
        }
    },
    toolbox: {
        feature: {
            dataView: {show: true, readOnly: false},
            magicType: {show: true, type: ['line', 'bar']},
            restore: {show: true},
            saveAsImage: {show: true}
        }
    },
    legend: {
        data:['开户用户数','销户用户数']
    },
    xAxis: [
        {
            name: '日期',
            type: 'category',
            data: {{day_time}},
            axisPointer: {
                type: 'shadow'
            }
        }
    ],
    yAxis: [
        {
            type: 'value',
            name: '用户数',
            min: 0,
            interval: 5000,
        },
    ],
    series: [
        {
            name:'开户用户数',
            type:'bar',
            data:{{sub_user}}
        },

        {
            name:'销户用户数',
            type:'bar',
            data:{{unsub_user}}
        },
    ]
};

    // 使用刚指定的配置项和数据显示图表。
    myChartUser.setOption(option);
</script>

<div id="total_userinfo" align="center" style="width: 85%;height:250px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChartTotalUser = echarts.init(document.getElementById('total_userinfo'), 'dark');
    // 指定图表的配置项和数据
    var option = {
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'cross',
            crossStyle: {
                color: '#999'
            }
        }
    },
    toolbox: {
        feature: {
            dataView: {show: true, readOnly: false},
            magicType: {show: true, type: ['line', 'bar']},
            restore: {show: true},
            saveAsImage: {show: true}
        }
    },
    legend: {
        data:['收费户数','总用户数']
    },
    xAxis: [
        {
            name: '日期',
            type: 'category',
            data: {{day_time}},
            axisPointer: {
                type: 'shadow'
            }
        }
    ],
    yAxis: [
        {
            type: 'value',
            name: '用户数',
            min: 0,
            interval: 500000,
        },
    ],
    series: [
        {
            name:'收费户数',
            type:'bar',
            data:{{charge_user}}
        },
    {
            name:'总用户数',
            type:'bar',
            data:{{total_user}}
        }
    ]
};

    // 使用刚指定的配置项和数据显示图表。
    myChartTotalUser.setOption(option);
</script>


<div>
    <h4 align="center"><font color="FFFFFF">{{site_name}} 彩印推送数据</font></h4>
</div>

<div id="signatureShow" align="center" style="width: 85%;height:250px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChartSignatureShow = echarts.init(document.getElementById('signatureShow'), 'dark');
    // 指定图表的配置项和数据
    var option = {
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'cross',
            crossStyle: {
                color: '#999'
            }
        }
    },
    toolbox: {
        feature: {
            dataView: {show: true, readOnly: false},
            magicType: {show: true, type: ['line', 'bar']},
            restore: {show: true},
            saveAsImage: {show: true}
        }
    },
    legend: {
        data:['呼叫数','USSD发送数','USSD发送成功数','闪信发送数','闪信发送成功数']
    },
    xAxis: [
        {
            name: '日期',
            type: 'category',
            data: {{day_time}},
            axisPointer: {
                type: 'shadow'
            }
        }
    ],
    yAxis: [
        {
            type: 'value',
            name: '次数',
            min: 0,
            interval: 5000000,
        },
    ],
    series: [
        {
            name:'呼叫数',
            type:'bar',
            data:{{call_times}}
        },
         {
            name:'USSD发送数',
            type:'bar',
            data:{{ussd_times}}
        },
         {
            name:'USSD发送成功数',
            type:'bar',
            data:{{ussd_sucess}}
        },
         {
            name:'闪信发送数',
            type:'bar',
            data:{{flash_times}}
        },
        {
            name:'闪信发送成功数',
            type:'bar',
            data:{{flash_sucess}}
        }
    ]
};

    // 使用刚指定的配置项和数据显示图表。
    myChartSignatureShow.setOption(option);
</script>


<div>
    <h4 align="center"><font color="FFFFFF">{{site_name}} 彩印上下行短信</font></h4>
</div>

<div id="signatureMoMt" align="center" style="width: 85%;height:250px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChartSignatureMoMt = echarts.init(document.getElementById('signatureMoMt'), 'dark');
    // 指定图表的配置项和数据
    var option = {
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'cross',
            crossStyle: {
                color: '#999'
            }
        }
    },
    toolbox: {
        feature: {
            dataView: {show: true, readOnly: false},
            magicType: {show: true, type: ['line', 'bar']},
            restore: {show: true},
            saveAsImage: {show: true}
        }
    },
    legend: {
        data:['上行短信数','下行短信数']
    },
    xAxis: [
        {
            name: '日期',
            type: 'category',
            data: {{day_time}},
            axisPointer: {
                type: 'shadow'
            }
        }
    ],
    yAxis: [
        {
            type: 'value',
            name: '次数',
            min: 0,
            interval: 1000000,
        },
    ],
    series: [
        {
            name:'上行短信数',
            type:'bar',
            data:{{mo_times}}
        },
         {
            name:'下行短信数',
            type:'bar',
            data:{{mt_times}}
        }
    ]
};
    // 使用刚指定的配置项和数据显示图表。
    myChartSignatureMoMt.setOption(option);
</script>

<div class="signature" align="center">Powered by <font color="FFFF11F">Yetel @ Python / Operation and maintenance department</font>
</div>
</body>
