<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CallShine 监控平台 局点列表</title>
    </head>
    <script type="text/javascript">
    setTimeout(function(){window.location.reload()}, 600000);
    </script>
    <style type="text/css">
    #tdFontColor {color: white;}
    a {color: inherit;}
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ns_tb.css') }}">
    <body bgcolor="#333" >
        <div class="lan_out" style="height:20px;width:100%; ">
            <a href="{{url_for('main.logout')}}" class="out" style="float: right;color:#ffffff" >退出</a>
        </div>
        <h2 align="center"><font color="FFFFFF">CallShine 监控平台 局点列表</font></h2>

        <table border="2" align="center" class="imagetable" style="width: 60%">
            <tr>
                <th>序号</th>
                <th>局点编号</th>
                <th>局点名称</th>
                <th>局点告警</th>
                <th>局点报表</th>
                <th>局点服务器列表</th>
            </tr>
            {% for site_id,site_name in site_info %}
            <tr>
                <td>{{loop.index}}</td>
                <!--主机名和IP字段-->
                <td>{{ site_id }}</td>
                <td>{{ site_name }}</td>
                <td><a href="{{ url_for('main.siteAlarm',siteid=site_id,_external=True)}}">点击查看告警</a></td>
                <td><a href="{{ url_for('main.siteReport',siteid=site_id,_external=True)}}">点击查看报表</a> </td>
                <td><a href="{{ url_for('main.serverList',siteid= site_id,_external=True)}}">点击查看服务器信息</a></td>
            </tr>
            {% endfor %}
        </table>
        <h2 align="center"><font color="FFFFFF">CallShine 维护人员列表</font></h2>
        <table border="2" align="center" class="imagetable" style="width: 60%">
            <tr>
                <th>序号</th>
                <th>姓名</th>
                <th>电话</th>
                <th>邮件</th>
                <th>所负责据点</th>
            </tr>
            {% for sys_name,sys_phone,sys_mail,sys_site in sys_user_info %}
            <tr>
                <td>{{loop.index}}</td>
                <!--主机名和IP字段-->
                <td>{{sys_name}}</td>
                <td>{{sys_phone}}</td>
                <td>{{sys_mail}}</td>
                <td>{{sys_site}}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="signature" align="center">Powered by <font color="FFFF11F">Yetel @ Python / Operation and maintenance department</font>
        </div>
    </body>
</html>
